<thead>
    <tr>
        <th class="col-xs-1"><span>ID</span></th>
        <th><span>Name</span></th>
        <th><span>Floor</span></th>
        <th><span>Node</span></th>
    </tr>
</thead>

{{#if view.loader.results.hasNextPage}}
    {{view "results/results-load-more" results=view.loader.results columns=4}}
{{/if}}

<tbody>
    {{#each result in view.loader.results}}
        <tr>
            <td>{{result.id}}</td>
            {{view "tables/cells/titled-linked-cell" routeName="room" item=result labelText=result.name}}
            {{view "tables/cells/titled-linked-cell" routeName="floor" item=result.json_floor.id labelText=result.json_floor.name}}
            {{view "tables/cells/titled-linked-cell" routeName="node" item=result.json_node.id labelText=result.json_node.name}}
        </tr>
    {{else}}
        <tr>
            <td colspan="4" class="no-results">
                {{#if view.loader.results.isLoaded}}
                    No Rooms
                {{else}}
                    Loading...
                {{/if}}
            </td>
        </tr>
    {{/each}}
</tbody>
